<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuizLib.Properties.Settings.QuizConnectionString"
            connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=Quiz;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>