<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuizClassLib.Properties.Settings.Quiz2ConnectionString"
            connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=Quiz2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>